@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unica+One&display=swap');

/* 
font-family: 'Flow Circular', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Unica One', cursive;
 */

:root {
    --black: #1a1a1a;
    --bgcolor: #2a2a2a;
    --blue: #450af9;
    --violet: #790af9;
    --gold: #D6af36;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--black);
    color: var(--blue);
}

#header {
    width: 100%;
    height: 100vh;
}

#bg-img {
    position: absolute;
    width: 400px;
    bottom: 10px;
    left: 68%;
    overflow: hidden;
    transition: filter 0.5s;
    transition: all 0.5s ease-in-out;
}

#bg-img:hover {
    filter: grayscale(0.3);
    transition: 0.5s ease-in-out;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
}

nav h1 {
    font-family: 'Unica One', cursive;
    font-size: 40px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
}

nav ul li a {
    color: var(--gold);
    text-decoration: none;
    font-size: 18px;
    text-shadow: 0 0 10px var(--gold);
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--blue);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
    transition: 0.5s ease-in-out;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text p {
    font-family: 'Unica One', cursive;
}

.header-text h1 {
    margin-top: 20px;
    font-size: 60px;
}

.header-text span {
    color: var(--gold);
}

.header-text ind {
    font-family: 'Unica One', cursive;
    color: var(--gold);
}

/* ----------ABOUT---------- */

#about {
    padding: 80px, 0;
    color: var(--blue);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 video {
    width: 100%;
    border-radius: 15px;
}

.block {
    width: 100%;
    height: 100%;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: var(--gold);
    text-shadow: 0 0 10px var(--gold);
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease-in-out;
}

.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--black);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s ease-in-out;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li ind {
    color: var(--violet);
    text-shadow: 0 0 10px var(--violet);
}

.tab-contents ul li span {
    color: var(--gold);
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

#timeline ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
}

#timeline ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: var(--violet);
    box-shadow: 0 0 10px var(--violet);
    border-radius: calc(var(--line-w) / 2);
}

#timeline ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
}

#timeline ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

#timeline ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--accent-color);

    color: var(--gold);
    text-shadow: 0 0 10px var(--gold);
    font-size: 1.25rem;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

#timeline ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 100%, transparent);
    position: absolute;
    top: 100%;

    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
}

#timeline ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgcolor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

#timeline ul li .title,
#timeline ul li .descr {
    background: var(--bgcolor);
    position: relative;
    padding-inline: 1.5rem;
}

#timeline ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-size: 20px;
    font-weight: 500;
    color: var(--violet);
    text-shadow: 0 0 10px var(--violet);
    font-family: 'Unica One', cursive;
}

#timeline ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 500;
    color: var(--blue);
    text-shadow: 0 0 10px var(--blue);
    font-family: 'Poppins', sans-serif;
}

#timeline ul li .title::before,
#timeline ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
}
#timeline ul li .title::before {
    bottom: calc(100% + 0.125rem);
}

#timeline ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
}

/* ---------- PHOTOS ---------- */

#photos {
    padding: 100px 0;
    height: 100vh;
}

#photos a {
    text-decoration: none;
    color: inherit;
}

#photos a, button, div[role="button"] {
    -webkit-tap-highlight-color: transparent;
}

#photos ul {
    list-style: none;
}

#photos h1, h2, h3, h4 {
    font-weight: 500;
    line-height: normal;
}

#photos h1 {
    font-size: 2.5em;
}

#photos h2 {
    font-size: 2em;
}

#photos h3 {
    font-size: 1.5em;
}

#photos h4 {
    font-size: 1em;
}

#photos .site {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#photos .photocontainer {
    max-width: 1100px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

#photos .testimonials {
    max-width: 900px;
    margin: 0 auto;
}

#photos .testimonials .head {
    text-align: center;
    margin-bottom: 60px;
}

#photos .testimonials .head h3 {
    font-size: 60px;
    font-weight: 600;
    color: var(--gold);
    /* font-size: 34px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: var(--gold); */
    text-shadow: 0 0 10px var(--gold);
}

#photos .testimonials .head p {
    font-size: 20px;
}

#photos .testimonials .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 30px 0;
}

#photos .testimonials .thumbnail {
    width: 150px;
    height: 150px;
    position: relative;
    flex-shrink: 0;
}

#photos .testimonials .thumbnail img {
    object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transform: scale(2);
	transition: transform .5s;
}

#photos .testimonials .swiper-slide-active .thumbnail img {
    transform: scale(1);
}

#photos .testimonials .thumbnail::before {
    content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% + 30px);
	height: calc(100% + 10px);
	background-color: var(--blue);
	border-radius: 50%;
	z-index: -1;
	box-shadow: 0 0 20px var(--violet);
	transition: border-radius .5s .3s;
}

#photos .testimonials .swiper-slide-active .thumbnail::before {
    border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%;
}

#photos .testimonials .aside {
    position: relative;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

#photos .testimonials .aside > p {
    position: relative;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateX(10%);
    transition: transform 1.5s, opacity 1s;
}

#photos .testimonials .swiper-slide-active .aside > p {
    transform: translateX(0);
    opacity: 1;
}

#photos .testimonials .aside > p::before,
#photos .testimonials .aside > p::after {
    font-family: 'Fira Code', monospace;
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    position: absolute;
    color: var(--gold);
    height: 40px;
    z-index: -1;
}

#photos .testimonials .aside > p::before {
    content: open-quote;
    top: -40px;
    left: 10px;
}

#photos .testimonials .aside > p::after {
    content: close-quote;
    right: 0;
}

#photos .testimonials .aside .name {
    position: relative;
    width: fit-content;
    line-height: 1;
    opacity: 0;
    transform: translateX(30px);
    transition: transform 1s .2s, opacity 1s .3s;
}

#photos .testimonials .swiper-slide-active .aside .name {
    transform: translateX(0);
    opacity: 1;
}

#photos .testimonials .aside .name h4 {
    font-size: 22px;
    font-weight: 800;
    color: var(--violet);
    text-shadow: 0 0 10px var(--violet);
    opacity: .8;
}

#photos .testimonials .aside .name p {
    font-size: 12px;
    text-align: right;
    color: var(--gold);
    text-shadow: 0 0 10px var(--gold);
}

#photos .testimonials :is(.swiper-button-next, .swiper-button-prev) {
    background-color: var(--violet);
    top: 35%;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    transition: all .3s;
    box-shadow: 0 0 10px var(--violet);
}

#photos .testimonials :is(.swiper-button-next, .swiper-button-prev):hover {
    background-color: var(--blue);
    box-shadow: 0 0 10px var(--gold);
}

#photos .testimonials :is(.swiper-button-next, .swiper-button-prev)::after {
    font-size: 16px;
    font-weight: 800;
    color: var(--gold);
    text-shadow: 0 0 10px var(--gold);
}

#photos .testimonials .swiper-pagination {
    position: relative;
}

#photos .testimonials .swiper-pagination span {
    background-color: var(--gold);
    transition: width .3s;
    opacity: 1;
}

#photos .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    width: 26px;
    border-radius: 26px;
    background-color: var(--violet);
}

/* ---------- FOOTER ---------- */

#footer .container{
	max-width: 1170px;
	margin:auto;
}
#footer .row{
	display: flex;
	flex-wrap: wrap;
}
#footer ul{
	list-style: none;
}
#footer .footer{
	background-color: #1e1e1e;
    padding: 70px 0;
}
#footer .footer-col{
	width: 25%;
	padding: 0 15px;
}

#footer .footer-col h4{
	font-size: 18px;
	color: var(--gold);
	text-shadow: 0 0 10px var(--gold);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
#footer .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--violet);
	box-shadow: 0 0 10px var(--violet);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
#footer .footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
#footer .footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: var(--violet);
	text-decoration: none;
	font-weight: 400;
	color: var(--blue);
	text-shadow: 0 0 10px var(--blue);
	display: block;
	transition: all 0.3s ease;
}
#footer .footer-col ul li a:hover{
	color: var(--violet);
	text-shadow: 0 0 10px var(--violet);
	padding-left: 8px;
}
#footer .footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #343434;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: var(--blue);
	transition: all 0.5s ease;
	font-size: 24px;
}
#footer .footer-col .social-links a:hover{
	color: var(--violet);
	background-color: var(--gold);
}

#footer .copyright {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: 700;
    margin: 10px 5px 0 0;
    color: var(--blue);
    text-shadow: 0 0 10px var(--blue);
}

.copyright i {
    color: var(--gold);
    font-size: 18px;
    text-shadow: 0 0 10px var(--gold);
}

.copyright a {
    color: var(--gold);
    text-shadow: 0 0 10px var(--gold);
    text-decoration: none;
}

/* ----------RANDOM---------- */
nav .fa-solid {
    display: none;
}

/* ----------MEDIA-QUERIES---------- */
@media only screen and (max-width: 600px) {
    #bg-img {
        display: none;
    }

    .header-text {
        margin-top: 50%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
        color: var(--gold);
    }

    nav ul {
        background: var(--blue);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s ease-in-out;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul li a {
        color: var(--gold);
        font-weight: 700;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        color: var(--gold);
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .copyright {
        font-size: 14px;
    }
}

@media only screen and (max-width: 492px) {
	#bg-img {
		display: none;
	}

	.header-text {
		margin-top: 80%;
	}
}

@media only screen and (max-width: 455px) {
	#bg-img {
		display: none;
	}

	.header-text {
		margin-top: 90%;
		font-size: 16px;
	}
}

@media only screen and (max-width: 320px) {
	#bg-img {
		display: none;
	}
}

@media(max-width: 767px){
    #footer .footer-col{
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px){
	#footer .footer-col{
	width: 100%;
	}
}

@media (min-width: 40rem) {
    #timeline ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
    }
    #timeline ul::before {
    grid-column: 2;
    }
    #timeline ul li:nth-child(odd) {
    grid-column: 1;
    }
    #timeline ul li:nth-child(even) {
    grid-column: 3;
    }

    #timeline ul li:nth-child(2) {
    grid-row: 2/4;
    }

    #timeline ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
    }

    #timeline ul li:nth-child(odd) .date::after {
        transform: translate(-50%, -50%);
        left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    #timeline ul li:nth-child(odd) .date {
        border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
}

@media screen and (min-width: 768px) {
    #photos .testimonials .wrapper {
		flex-direction: row;
		padding: 30px 100px;
    }

    #photos .testimonials .thumbnail {
		width: 200px;
		height: 200px;
    }

    #photos .testimonials :is(.swiper-button-next, .swiper-button-prev) {
		top: 50%;
    }

    #photos .testimonials .swiper-slide-active .name {
		transform: translateX(-50px);
    }
}